OCR_WORKER_PG_USER=postgres
OCR_WORKER_PG_PASS=postgres
OCR_WORKER_PG_HOST=host.docker.internal
OCR_WORKER_PG_PORT=54322
OCR_WORKER_PG_DATABASE=postgres

SUPABASE_DB_URL=postgresql://postgres:postgres@host.docker.internal:54322/postgres
SUPABASE_URL=http://host.docker.internal:54321
SUPABASE_SECRET_KEYS={"default": "sb_secret_N7UND0UgjKTVK-Uodkm0Hg_xSvEMPvz"}
